# Environment for local development
.env
default-env*.json

# Packages
.tgz

# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*

# IntelliJ
.idea
*.iml

# Optional npm cache directory
.npm

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Sonar Scan
.scannerwork

# Lint Result output from ESLint
lint

# Visual Studio Code
.vscode
